# Node modules
node_modules/

# Next.js build output
.next/
out/

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env & sensitive files
.env
.env.local
.env.production
.env.development
token.json
credentials.json
client_secret.json
authorize.cjs
get-refresh-token.js
serviceAccountKey.json
llaves.zip
*.zip

# Backup or temporary files
Copia de chat.js
Copia de response_builder.js

# Editor & OS config
.DS_Store
.idea/
.vscode/
